*.ini

TP2AA/sets_desarrollo/background_noise_test/one
TP2AA/sets_desarrollo/background_noise_test/two
TP2AA/sets_desarrollo/background_noise_test/three
TP2AA/sets_desarrollo/background_noise_test/four
TP2AA/sets_desarrollo/background_noise_test/five
TP2AA/sets_desarrollo/background_noise_test/six
TP2AA/sets_desarrollo/background_noise_test/seven
TP2AA/sets_desarrollo/background_noise_test/eight
TP2AA/sets_desarrollo/background_noise_test/nine
TP2AA/sets_desarrollo/background_noise_test/zero

TP2AA/sets_desarrollo/gaussian_noise_test/one
TP2AA/sets_desarrollo/gaussian_noise_test/two
TP2AA/sets_desarrollo/gaussian_noise_test/three
TP2AA/sets_desarrollo/gaussian_noise_test/four
TP2AA/sets_desarrollo/gaussian_noise_test/five
TP2AA/sets_desarrollo/gaussian_noise_test/six
TP2AA/sets_desarrollo/gaussian_noise_test/seven
TP2AA/sets_desarrollo/gaussian_noise_test/eight
TP2AA/sets_desarrollo/gaussian_noise_test/nine
TP2AA/sets_desarrollo/gaussian_noise_test/zero

TP2AA/sets_desarrollo/speechcommands_test/one
TP2AA/sets_desarrollo/speechcommands_test/two
TP2AA/sets_desarrollo/speechcommands_test/three
TP2AA/sets_desarrollo/speechcommands_test/four
TP2AA/sets_desarrollo/speechcommands_test/five
TP2AA/sets_desarrollo/speechcommands_test/six
TP2AA/sets_desarrollo/speechcommands_test/seven
TP2AA/sets_desarrollo/speechcommands_test/eight
TP2AA/sets_desarrollo/speechcommands_test/nine
TP2AA/sets_desarrollo/speechcommands_test/zero
